<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission pour afficher la notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Permission OBLIGATOIRE sur Android 14 (API 34) pour utiliser setExact() -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studify">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Studify">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- android:exported="false" est une bonne pratique de sécurité
             pour empêcher les autres applications de déclencher tes alarmes -->
        <receiver
            android:name=".receiver.TaskReminderReceiver"
            android:exported="false"/>

    </application>

</manifest>